<head>
    {% if page.go %}
      <link rel="canonical" href="{{ page.go }}">
      <meta http-equiv="refresh" content="0; url="{{ page.go }}">
      <script>location="{{ page.go }}"</script>
    {% endif %}
    <META HTTP-EQUIV="EXPIRES" CONTENT="0">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-616RRSLCVD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-616RRSLCVD');
</script>
</head>
<body>
{{ content }}
</body>
